.venv
.vscode/
.DS_Store
*.pyc
__pycache__/
.env
.db_provisioning.flag
src/.db_provisioning.flag
pgadmin/*

maven-archiver/
classes/
generated-sources/
generated-test-sources/
maven-status/
test-classes/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.idea/
