<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <title>{{ restaurantName }} | {{ title }}</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}?v=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?v=1">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}?v=1"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}?v=1"></script>
    {% block header %}{% endblock %}
</head>

<body class="d-flex flex-column h-100">
    {% block content %}{% endblock %}
</body>

</html>