{% extends 'header.html' %}

{% block header %}
<script src="{{ url_for('static', filename='js/main.js') }}?v=1"></script>
{% endblock %}

{% block content %}
<!-- Fixed navbar -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="javascript:void(0);"><img src="{{ url_for('static', filename='images/favicon.png') }}" height="44px"></img>&nbsp;{{ restaurant_name }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Main Menu
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="javascript:main_menu('starters')">Starters</a></li>
                        <li><a class="dropdown-item" href="javascript:main_menu('mains')">Mains</a></li>
                        <li><a class="dropdown-item" href="javascript:main_menu('alcoholic_drinks')">Alcoholic Drinks</a></li>
                        <li><a class="dropdown-item" href="javascript:main_menu('non_alcoholic_drinks')">Non Alcoholic Drinks</a></li>
                        <li><a class="dropdown-item" href="javascript:main_menu('hot_drinks')">Hot Drinks</a></li>
                        <li><a class="dropdown-item" href="javascript:main_menu('desserts')">Desserts</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Kids Menu
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="javascript:kids_menu('starters')">Starters</a></li>
                        <li><a class="dropdown-item" href="javascript:kids_menu('mains')">Mains</a></li>
                        <li><a class="dropdown-item" href="javascript:kids_menu('drinks')">Drinks</a></li>
                        <li><a class="dropdown-item" href="javascript:kids_menu('desserts')">Desserts</a></li>
                    </ul>
               </li>
            </ul>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{session.customer_name}}</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="javascript:my_bill()" title="View your current bill">My Bill</a></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container h-100">
        <div class="overflow-auto h-100" id="chat-history"></div>
    </div>
</main>

<!-- Footer -->
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-11">
                <input type="text" class="form-control form-control-sm" name="customer_message" id="customer_message" placeholder="Message..." autocomplete="off" required>
            </div>
            <div class="col-1">
                <button class="btn btn-warning btn-sm w-100" onclick="send_message(0);">Send</button>
            </div>
        </div>
    </div>
</footer>
<input type="hidden" id="customer_name" value="{{session.customer_name}}"/>
<input type="hidden" id="waiter_name" value="{{session.waiter_name}}" />
{% endblock %}
