.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

main {
  height: 90vh;
}

main > .container {
  padding: 80px 15px 0;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blinker 1s linear infinite;
}

.typing {
  color: dimgray;
}

.error_message {
  color: rgba(255, 0, 0, 0.938);
}

.message {
  border: 0;
  border-radius: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 15px;
  font-family: monospace;
}

.chatbot {
  background-color: #e1e6f7;
  margin-bottom: 24px;
}

.customer {
  background-color: #f7f7e1;
}

p {
  padding: 0;
  margin-bottom: 6px;
}

.nav-link:hover {
  background-color: #e9ecef;
}

.logs, .logs div {
  font-size: 14px;
  font-family: monospace, 'Courier New';
}

.log-webapp, .logs thead th + tbody td + p + span + h1 + h2 + h3 + h4 + h5 + h6 {
  color: black;
  background-color: snow !important;
  font-size: 14px;
  font-family: monospace, 'Courier New';
}

.log-webapp {
  margin: 6px;
  padding: 2px;
  border-radius: 3px;
  font-size: 14px;
  font-family: monospace, 'Courier New';
}

.log-db_provisioning {
  color: black;
  background-color: rgb(255, 239, 149);
  margin: 6px;
  padding: 2px;
  border-radius: 3px;
  font-size: 14px;
  font-family: monospace, 'Courier New';
}

.log-chatbot {
  color: black;
  background-color: rgb(202, 255, 149);
  margin: 6px;
  padding: 2px;
  border-radius: 3px;
  font-size: 14px;
  font-family: monospace, 'Courier New';
}
