.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

main {
  height: 90vh;
}

main > .container {
  padding: 80px 15px 0;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blinker 1s linear infinite;
}

.typing {
  color: dimgray;
}

.error_message {
  color: lightcoral;
}

.message {
  border: 0;
  border-radius: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 18px;
}

.chatbot {
  background-color: #e1e6f7;
  margin-bottom: 24px;
}

.customer {
  background-color: #f7f7e1;
}

p {
  padding: 0;
  margin-bottom: 6px;
}

.nav-link:hover {
  background-color: #e9ecef;
}