{% extends 'header.html' %}

{% block content %}
<div class="container-fluid">
    <div class="container mt-3">
        <div class="row">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <table class="table table-responsive table-borderless">
                        <tr>
                            <td width="10px"><img src="{{ url_for('static', filename='images/favicon.png') }}" height="88px"></img></td>
                            <td style="white-space:nowrap;" class="align-middle"><h2>{{ restaurantName }} Restaurant</h2></td>
                            <td width="10px"><img src="{{ url_for('static', filename='images/favicon.png') }}" height="88px"></img></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <form action="/login" method="post">
            <div class="mb-3 mt-3">
                <label for="customerName" class="form-label">Customer Name</label>
                <input type="text" class="form-control" name="customerName" id="customerName" placeholder="Enter customer name" required>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="yes" id="ofLegalAge" name="ofLegalAge">
                    <label class="form-check-label" for="ofLegalAge">
                        Confirm I am at least 21 years of age
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <p class="mb-1">Allergies (select all that apply):</p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="yes" id="gluten" name="gluten">
                    <label class="form-check-label" for="gluten">
                        Gluten
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="yes" id="dairy" name="dairy">
                    <label class="form-check-label" for="dairy">
                        Dairy
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="yes" id="shellfish" name="shellfish">
                    <label class="form-check-label" for="shellfish">
                        Shellfish
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="yes" id="fish" name="fish">
                    <label class="form-check-label" for="fish">
                        Fish
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="yes" id="eggs" name="eggs">
                    <label class="form-check-label" for="eggs">
                        Eggs
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="yes" id="sulfites" name="sulfites">
                    <label class="form-check-label" for="sulfites">
                        Sulfites
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Talk to us!</button>
        </form>
    </div>
</div>
{% endblock %}