{% extends 'header.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="row justify-content-center">
            <div class="col-auto">
                <table class="table table-responsive table-borderless">
                    <tr>
                        <td width="10px"><img src="{{ url_for('static', filename='images/favicon.png') }}" height="88px"></img></td>
                        <td style="white-space:nowrap;" class="align-middle"><h2>{{ restaurant_name }} Restaurant</h2></td>
                        <td width="10px"><img src="{{ url_for('static', filename='images/favicon.png') }}" height="88px"></img></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-6">
            <form action="/login" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                </div>
                {% autoescape false %}
                <p class="error_message blink mt-3 mb-3">{{ error_message }}</p>
                {% endautoescape %}
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="mt-3 col-12">
            <p class="text-center text-secondary small">Powered by <a href="https://www.confluent.io/confluent-cloud" target="_blank">Confluent Cloud</a>&copy;</p>
        </div>
    </div>
</div>
{% endblock %}