{% extends 'header.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <p class="fs-3">Customer Profiles</p>
    <table class="table table-striped table-hover table-bordered table-responsive mt-2">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Full Name</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Allergies</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in profiles.items() %}
            <tr>
                <th scope="row">{{ key }}</th>
                <td>{{ value.full_name }}</td>
                <td>{{ value.dob }}</td>
                <td>{{ value.allergies or "N/A" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/" class="btn btn-primary">Go Home</a>
</div>
{% endblock %}
